@model ContactModel
@{
    ViewData["Title"] = "Add Contact";
}

<head>
    <link href="~/css/style_addcontactpage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="flex-wrap">
                    <div class="logo">
                        <a asp-action="Homepage" asp-controller="Home"><img src="~/images/logo.PNG"></a>   
                    </div>
                    <div class="button">
                        <a asp-action="Login" asp-controller="Home"><button class="button-primary" onclick="return confirm('Are you sure?')">Log out</button></a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="content">
                    <div class="auth-container">
                        <div class="auth-header">
                            <span>Add Details</span>
                        </div>
                        <div class="auth-form">
                            <form class="signup" id="form" onsubmit="return validateAddContactForm()" asp-action="CreateContact" method="POST" asp-route-id="@ViewBag.id">
                                <div class="form-div">
                                    <div class="name-section">
                                        <div class="innername-section">
                                            <input class="textfields field-margin" type="text" placeholder="First Name" id="fname" asp-for="firstname" style="margin-right: 5px">
                                            <span asp-validation-for="firstname" id="name_error" class="error-class"></span>
                                        </div>
                                        <div class="innername-section">
                                            <input class="textfields" type="text" placeholder="Last Name" id="lname" asp-for="lastname">
                                            <span asp-validation-for="lastname" id="name_error" class="error-class"></span>
                                        </div>
                                    </div>

                                    <input class="textfields" type="text" placeholder="Email" id="email" asp-for="Email">
                                    <span id="email_error" asp-validation-for="Email" class="error-class"></span>

                                    <div class="radio-section">
                                        <div class="pair"><span>Male </span><input id="male" asp-for="gender" type="radio" value="Male"></div>

                                        <div class="pair"><span>Female</span><input id="female" asp-for="gender" type="radio" value="Female"></div>

                                        <div class="pair"><span>Others</span><input id="Others" asp-for="gender" type="radio" value="Others"></div>

                                    </div>
                                    <span id="radio_error" asp-validation-for="gender" class="error-class"></span>

                                    <input class="textfields" type="text" placeholder="Phone Number" id="phone" maxlength="13" asp-for="phone">
                                    <span id="phone_error" asp-validation-for="phone" class="error-class"></span>

                                    <input class="textfields" type="text" placeholder="Fax" id="fax" maxlength="13" asp-for="fax">
                                    <span id="fax_error" asp-validation-for="fax" class="error-class"></span>

                                    <div class="status">
                                        @if (ViewBag.isSuccess == 1)
                                        {
                                            <p>@ViewBag.message</p> <!-- if succeed default CSS property of status class will be applied -->
                                        }
                                        else
                                        {
                                            <p class="server-error">@ViewBag.message</p>
                                        }
                                    </div>

                                    <div class="button-section">
                                        <input type="submit" class="button-secondary submit" id="submit_btn">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
   
</body>


