
@{
    ViewData["Title"] = "Homepage";
}

<head>
    <link href="~/css/style_homepage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="flex-wrap">
                    <div class="logo">
                        <img src="~/images/logo.PNG" alt="Logo image"/>
                    </div>
                    <div class="button">
                        <a href="@Url.Action("Index","Home")"><button class="button-primary">Log out</button></a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="title-space">
                    <h1 class="title">Greetings..</h1>
                    <div class="name">
                        <span class="fname">Bhautik</span>
                        <span class="lname">Savaliya</span>
                    </div>
                </div>

                <div class="details">
                    <div class="content-wrap">
                        <span class="sectionTitle">
                            Account Details
                        </span>

                        <div class="items" title="User name">
                            <img src="~/images/personal.png" alt="Personal Information Icon"/>
                            <span id="fname">bhautik</span>
                            <span id="lname">savaliya</span>
                        </div>

                        <div class="items" title="User Gender" >
                            <img src="~/images/gender.png" alt="Gender Icon"/>
                            <span id="gender">Male</span>
                        </div>

                        <div class="items" title="Date of registration">
                            <img src="~/images/calender.png" alt="Date Icon"/>
                            <span id="">29 Aug, 2021</span>
                        </div>
                    </div>
                </div>

                <div class="button bottom-btn">
                    <a href="@Url.Action("AddContact","AddContact")"><button class="button-primary">Add Contact</button></a>

                    <a href="@Url.Action("MyContacts","MyContacts")"><button class="button-primary">My Contacts</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

