
@{
    ViewData["Title"] = "Login";
}

<head>
<link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="overlay-section">
        <div class="content">
            <div class="auth-container">
                <div class="closeIcon">
                    <a asp-action="Index" asp-controller="Home"><img src="~/images/close.png" alt="Close button image"></a>
                </div>
                <div class="auth-header">
                    <span>Login</span>
                </div>
                <div class="auth-form">
                    <form action="" class="login" id="loginform" onsubmit="return validateForm()">
                        <div class="credentials">
                            <input class="textfields field-login" type="text" placeholder="Email" id="email">
                            <small id="email_error"></small>

                            <input class="textfields" type="password" placeholder="Password" id="pass">
                            <small id="pass_error"></small>
                        </div>
                        <div class="button-section">
                            <button class="button-secondary submit-login">Log in</button>
                        </div>
                        <div class="general">
                            <small></small>
                        </div>
                    </form>
                </div>

                <div class="link">
                    <p>Don't have an account? <a asp-action="Signup" asp-controller="Signup">Log in</a></p>
                </div>
            </div>
        </div>
    </div>

</body>

