
@{
    ViewData["Title"] = "My Contacts";
}

<head>
    <link href="~/css/style_mycontactspage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="flex-wrap">
                    <div class="logo">
                        <a asp-action="Homepage" asp-controller="Home"><img src="~/images/logo.PNG" alt="Logo image"></a>
                    </div>
                    <div class="button">
                        <a asp-action="Index" asp-controller="Home"><button class="button-primary">Log out</button></a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="content">
                    <div class="title">
                        <h1>My Contacts</h1>
                    </div>
                    <div class="table-container">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="selectAll"></th>
                                    <th>No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>View</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="selectContact"></td>
                                    <td>1</td>
                                    <td>Bhautik</td>
                                    <td>Savaliya</td>
                                    <td>bhautiksavaliya2000@gmail.com</td>
                                    <td><button class="button-primary btn">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button bottom-btn">
                        <a href=""><button class="button-primary">Delete</button></a>

                        <a asp-action="AddContact" asp-controller="AddContact"><button class="button-primary">Add New</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
