@model UserModel
@{
    ViewData["Title"] = "Signup";
}

<head>
   
</head>
<body>
    <div class="overlay-section">
        <div class="content">
            <div class="auth-container">
                <div class="closeIcon">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/close.png" alt="Close button icon"></a>
                </div>
                <div class="auth-header">
                    <span>SignUp</span>
                </div>
                <div class="auth-form">
                    <form class="signup" id="form" onsubmit="return validateForm()" asp-action="CreateUser" method="POST">
                        <div class="form-div">
                            <div class="name-section">
                                <div class="innername-section">
                                    <input class="textfields field-margin" type="text" placeholder="First Name" id="fname" asp-for="firstname" style="margin-right: 5px">
                                    <span asp-validation-for="firstname" id="name_error" class="error-class"></span>
                                </div>
                                <div class="innername-section">
                                    <input class="textfields" type="text" placeholder="Last Name" id="lname" asp-for="lastname">
                                    <span asp-validation-for="lastname" id="name_error" class="error-class"></span>
                                </div>
                            </div>
                                                                                        
                            <input class="textfields" type="text" placeholder="Email" id="email" asp-for="Email">
                            <span asp-validation-for="Email" id="email_error" class="error-class"></span>

                            <div class="radio-section">
                                <div class="pair"><span>Male </span><input id="male" asp-for="gender" type="radio" value="Male"></div>

                                <div class="pair"><span>Female</span><input id="female" asp-for="gender" type="radio" value="Female"></div>

                                <div class="pair"><span>Others</span><input id="Others" asp-for="gender" type="radio" value="Others"></div>
                            </div>
                            <span asp-validation-for="gender" class="error-class" id="radio_error"></span>

                            <input class="textfields" type="password" placeholder="Create Password" id="pass" asp-for="password">
                            <span asp-validation-for="password" class="error-class" id="pass_error"></span>

                            <input class="textfields" type="password" placeholder="Re-enter Password" id="repass" asp-for="repass">
                            <span asp-validation-for="repass" class="error-class" id="repass_error"></span>

                            <div class="terms-section">
                                <input type="checkbox" id="terms_check" name="checkme" onclick="btnstatus(this)">
                                <span>Agree with terms & conditions</span>
                            </div>

                            <div class="button-section">
                                <button class="button-secondary submit" id="submit_btn" disabled>Sign up</button>
                            </div>
                            <div class="status">
                                @if (ViewBag.isSuccess == 1)
                                {
                                    <p>@ViewBag.message</p> <!-- if succeed default CSS property of status class will be applied -->
                                }
                                else
                                {
                                    <p class="server-error">@ViewBag.message</p>
                                }
                            </div>
                        </div>
                    </form>
                </div>

                <div class="link">
                    <p>Have an account? <a asp-action="Login" asp-controller="Login">Log in</a></p>
                </div>
            </div>

        </div>
    </div>

</body>

