@import url(./cssutilities.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

div {
    display: block;
}

.wrapper {
    background-color: var(--light);
    min-height: 100vh;
}

.wrapper .container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.header {
    padding: 35px 0 25px 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.title-space {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.main .title-space .title {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--dark); 
}

.name .fname {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
    margin-right: 1rem;
}

.name .lname {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
}

.title-space {
    margin-bottom: 2rem;
}
.main .details {
    height: fit-content;
    width: 80%;
    max-width: 25rem;
    border-radius: 10px;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

.details .sectionTitle {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -20px);
    padding: .3rem 1.2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--dark);
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
}

.content-wrap{
    display: flex;
    flex-direction: column;
}

.details .content-wrap .items {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.details .content-wrap .items img {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    object-fit: cover;
}

.details .content-wrap .items span {
    margin-right: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
}

.bottom-btn {
    margin: 1rem 0 2rem 0; 
}

@media (max-width: 486px) {
    .main .title-space .title {
        font-size: 3rem; 
    }
    
    .name .fname {
        font-size: 1.6rem;
    }
    
    .name .lname {
        font-size: 1.6rem;
    }

    .details .sectionTitle {
        font-size: 1rem;
    }

    .details .content-wrap .items img {
        width: 2.7rem;
        height: 2.7rem;
        object-fit: contain;
    }

    .details .content-wrap .items span {
        font-size: 1.2rem;
    }
}

@media (max-width: 412px) {
    .main .title-space .title {
        font-size: 2.8rem; 
    }
    
    .name .fname {
        font-size: 1.2rem;
        margin-right: .5rem;
    }
    
    .name .lname {
        font-size: 1.2rem;
    }

    .main .details {
        width: 100%;
        padding: 2rem 1rem 2rem 1rem;
    }
    .details .sectionTitle {
        font-size: .8rem;
    }

    .details .content-wrap .items img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        object-fit: contain;
    }

    .details .content-wrap .items span {
        font-size: 1.1rem;
    }

    .header .flex-wrap {
        flex-direction: column;
    }
}

@media (max-width: 290px) {
    .button-primary {
        padding: .3rem 1rem;
    }

    .main .title-space .title {
        font-size: 2.6rem; 
    }
    
    .name .fname {
        font-size: 1rem;
        margin-right: .5rem;
    }
    
    .name .lname {
        font-size: 1rem;
    }
}